.conteudo,
h1 {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img,
h3,
p {
    margin-top: 2em;
}

.descricaoimg {
    margin-top: 1em;
    margin-left: 310px;
    margin-right: 310px;
    text-align: center;
}