.conteudo {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img, h2, p {
    margin-top: 1em;
}

.descricaoimg{
    margin-top: 1em;
    margin-left: 310px ;
    margin-right: 310px;
    text-align: center;
}

.txtinicio{
    margin-top: 4em;
    margin-left: 200px;
    margin-right: 200px;
}

.titulogs{
    margin-top: 0,8em;
    font-size: 45px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}