@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url(../CSS/conteudo.css);
@import url(../CSS/menu.css);
@import url(../CSS/rodape.css);

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: linear-gradient(to right, rgb(191, 219, 255), rgb(170, 253, 202));
}

/* h1 {
    display: flex;
    justify-content: center;
} */